@import "../Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');


.heading{
  font-size: 130px;
  font-family: trocchi;
  padding-left:1rem;
  padding-right: 1rem;
  background-image: linear-gradient(to top, rgba(224, 204, 31, 0), rgba(224, 204, 31, 1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

img{
  width:470px;
 
}

.Landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  .Hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    background-image: url("../assets/BG.png");
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: cover;
    overflow-x: hidden;
    p {
      margin-bottom: 0px;
      font-size: larger;
    }
    
   
   
   
  }
}

@media screen and (max-width: 740px) {

  .heading{
    font-size: 65px;
  }

  .Landing {
    .Hero {
      img {
        width: 350px;
      }
    }
  }
}
